/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
:root {
  /* Background */
  --header-background-color: #ffffff;
  --additional-background-color: #2f303a;
  --fourth-section-background: #f5f4fa;
  --third-section-overlay:rgba(47, 48, 58, 0.8);
  /*Button*/
  --button-background: #f5f4fa;
  --button-hover-background: #2196f3;
  --main-button-hover: #188CE8;
  --main-color-button: #212121;
  --additional-color-button: #ffffff;
  --contact-links: #afb1b8;
  /*Text color*/
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --logo-color: #000000;
  --hover-text-color: #2196f3;
  --additional-color: #ffffff;
  /*Time*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Body*/
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
.visually-hidden .visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.logo__logo-part {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1;
  }
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*Main 1 section*/
.effective {
  height: 600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .effective {
    padding: 200px 0;
    max-height: 600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .effective {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-image-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image-mobile@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .effective {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-image-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image-tablet.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .effective {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-image-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image-tablet@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .effective {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-image-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image-desktop.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .effective {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-image-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image-desktop@2x.jpg");
  }
}

.effective__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 118px 0;
}

.effective__title {
  height: 84px;
  max-width: 360px;
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .effective__title {
    max-width: none;
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: #188CE8;
}

.effective__btn {
  margin-bottom: 0px;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*2 section*/
.features {
  padding: 60px 0 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0 94px;
  }
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: currentColor;
}

.features__item {
  width: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-card__wrap {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-card__icon {
  width: 70px;
  height: 70px;
}
.feature-card__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature-card__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-card__subtitle {
    text-align: left;
  }
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*3 section*/
.examples {
  display: none;
}
@media screen and (min-width: 1200px) {
  .examples {
    background-color: #ffffff;
    padding: 0 0 94px;
    display: block;
  }
}

.examples-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.examples-container__title {
  width: 367px;
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.examples-container__list {
  gap: 30px;
}
.examples-container__item {
  position: relative;
}
.examples-container__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.examples-container__overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*4 section*/
.team {
  background-color: #f5f4fa;
  padding: 94px 0 94px;
}

.team-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team-container__title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.person-card {
  width: 270px;
  height: 430px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.details {
  padding: 30px;
}
.details__subtitle {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.details__text {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.details__social-list {
  gap: 10px;
}

.social-list__item {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.social-list__social-link:hover, .social-list__social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*5 section*/
.client {
  padding: 94px 0 94px;
}

.client__title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.icons-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-icons__icons-list {
  gap: 30px;
}

.icons-list__link {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  display: block;
  -webkit-transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.icons-list__link:hover, .icons-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu.is-open .mobile-nav {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu.is-open .list-contact {
  display: block;
}

.mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mobile-container--bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu__close {
    display: none;
  }
}

.close-icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}
.close-icon:hover, .close-icon:focus {
  fill: #188CE8;
}
@media screen and (min-width: 768px) {
  .close-icon {
    display: none;
  }
}

.mobile-nav__item {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
}
.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-menu-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu-contact__link {
  color: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mobile-menu-contact__link--blue {
  max-width: 296px;
  line-height: 1.17;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile-menu-contact__link--blue {
    font-size: 34px;
  }
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0;
}
.mobile-menu-socials__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}
.mobile-menu-socials__border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
}
@media screen and (min-width: 480px) {
  .mobile-menu-socials__link {
    font-size: 18px;
    padding-left: 10px;
  }
}

.list-photo, .modal__close, .modal, .footer-form__btn, .user-data, .footer-form, .combined-sections, .footer-contact__social-list, .container__contact, .feature-card__wrap, .examples-container, .examples-container__list, .team-container, .social-list, .social-link, .mobile-menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*Header*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0 auto;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    gap: 93px;
  }
}

.header__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  min-height: 40px;
  min-width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.wrapper {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 24px 0 25px;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  display: block;
  padding: 32px 0;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}
.menu__link--current {
  color: #2196f3;
}
.menu__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  content: "";
}

.list-contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    padding-left: 0;
  }
}

.list-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms var(--time-function), fill 250ms var(--time-function);
  transition: color 250ms var(--time-function), fill 250ms var(--time-function);
}
.list-contact__link:hover, .list-contact__link:focus {
  fill: #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .list-contact__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-contact__geometry-envelope {
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-contact__geometry-smartphone {
    padding-bottom: 21px;
  }
}

.list-contact__icon {
  fill: #757575;
}
.list-contact__icon:hover, .list-contact__icon:focus {
  fill: #2196f3;
}

.list-contact__icon--envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .list-contact__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

.list-contact__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .list-contact__icon--smartphone {
    width: 12px;
    height: 16px;
  }
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
.footer {
  width: 100%;
  background-color: #2f303a;
  padding: 60px 0 60px;
}
.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 93px;
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    gap: 165px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    row-gap: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 93px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container__contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .container__contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.logo {
  font-size: 24px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__logo-part-footer {
  color: #ffffff;
}

.container__logo {
  margin-bottom: 20px;
}

.address__item :not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.address__item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link-mail {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address__link-mail:hover, .address__link-mail:focus {
  color: #2196f3;
}

.address__link-tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address__link-tel:hover, .address__link-tel:focus {
  color: #2196f3;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-contact__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-contact__text {
    text-align: left;
  }
}
.footer-contact__social-list {
  gap: 10px;
}

.combined-sections {
  gap: 93px;
}

.social-list__footer-item {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.footer-contact__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  text-decoration: none;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer-contact__social-link:hover, .footer-contact__social-link:focus {
  background-color: button-hover-background;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*Footer-form*/
.footer-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer-form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 12px;
  }
}
.footer-form__text {
  margin: 0;
}

.user-data {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .user-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.user-data__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .user-data__label {
    text-align: left;
  }
}

.user-data__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  color: #ffffff;
  background-color: #2f303a;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  outline: none;
}
@media screen and (min-width: 480px) {
  .user-data__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .user-data__input {
    width: 358px;
  }
}
.user-data__input:focus {
  border-color: #188CE8;
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  fill: #ffffff;
  gap: 10px;
}
.footer-form__btn:hover {
  background-color: #188CE8;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  height: 100%;
}
.modal__form-field {
  margin-bottom: 10px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .modal__title {
    line-height: 1.5;
  }
}

.modal__container {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .modal__container {
    max-width: 528px;
    max-height: 581px;
  }
}

.btn-icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.btn-icon:hover {
  fill: #2196f3;
}

/*Form*/
.form-field {
  width: 100%;
  height: 100%;
}
.form-field__label {
  display: block;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__control {
  position: relative;
  cursor: pointer;
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-field__conditions-chackbox {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .form-field__conditions-chackbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 12px 0 42px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  outline: none;
}
.form-field__input:focus {
  border-color: #2196f3;
}
.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

textarea {
  resize: none;
}

.form-field__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  outline: none;
  display: block;
}
@media screen and (min-width: 1200px) {
  .form-field__textarea {
    width: 448px;
  }
}
.form-field__textarea:focus {
  border-color: #2196f3;
}
.form-field__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
}
.form-field__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
}
.form-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
}
.form-field__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
}
.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
}

/*checkbox*/
.conditions-chackbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
}
.conditions-chackbox__icon {
  position: absolute;
  fill: transparent;
  margin: 0 7px 0 10px;
  border-radius: 2px;
  border: 2px solid #212121;
}
.conditions-chackbox__label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.conditions-chackbox__link {
  color: #2196f3;
}

.conditions-chackbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.conditions-chackbox__input:checked + .conditions-chackbox__icon {
  fill: #ffffff;
  background-color: #2196f3;
  border: none;
}

.form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.form__btn:hover {
  background-color: #188CE8;
}

/*Variable declaration*/
/* Background */
/*Button*/
/*Text color*/
/*Cubic-Bezier*/
/*Portfolio*/
.main {
  background-color: #ffffff;
}

.portfolio-section {
  padding: 94px 0;
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-btn__btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.list-btn__btn-portfolio:hover, .list-btn__btn-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container__list-btn {
  gap: 8px;
  margin: 0 0 50px;
}

.list-photo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__list-photo {
  gap: 30px;
}

.card__unreal-link {
  position: relative;
  overflow: hidden;
}
.card:hover .description-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__details-portfolio {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.card__subtitle {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.card__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.card__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.description-overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */