@import '../utils/variables';

.footer {
  background-color: $additional-background-color;
  padding: 60px 0 60px;

  &__conteiner {
    display: flex;
    align-items: baseline;
    gap: 93px;
  }
}
.container {
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__logo {
    margin: 0 0 20px;
  }
}
.logo {
  line-height: 1.19;

  &__logo-part-footer {
    color: $additional-color;
  }
}
.address__item {
  margin: 0 0 9px;

  &:last-child {
    margin: 0;
  }
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: $additional-color;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}
.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}
.address__link-mail {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}
.address__link-tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $additional-color;
  }

  &__social-list {
    gap: 10px;
  }
}
.combined-sections {
  @extend %centeredFlex;
  gap: 93px;
}
.social-list__footer-item {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.footer-contact__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $additional-color;
  text-decoration: none;
  transition: background-color 250ms var(----timing-function);

  &:hover,
  &:focus {
    background-color: button-hover-background;
  }
}
