@import "../utils/variables";

.footer {
  width: 100%;
  background-color: $additional-background-color;
  padding: 60px 0 60px;

  &__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 60px;

    @media screen and (min-width: 768px) {
      gap: 165px;
      align-items: baseline;
      row-gap: 60px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: baseline;
      gap: 93px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.container__contact {
  @extend %centeredFlex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    align-items: stretch;
  }
}
.logo {
  font-size: 24px;
  line-height: 1.16;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__logo-part-footer {
    color: $additional-color;
  }
}
.container__logo {
  margin-bottom: 20px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $additional-color;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}
.address__item {
  text-align: center;
  display: block;
  margin-bottom: 12px;


  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}
.address__link-mail {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  // text-align: center;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  // @media screen and (min-width:1200px){
  //   text-align: left;
  // }
  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}
.address__link-tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  // text-align: center;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  // @media screen and (min-width:1200px){
  //   text-align: left;
  // }

  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $additional-color;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__social-list {
    @extend %centeredFlex;
    gap: 10px;
  }
}
.combined-sections {
  @extend %centeredFlex;
  gap: 93px;
}
.social-list__footer-item {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.footer-contact__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $additional-color;
  text-decoration: none;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: button-hover-background;
  }
}
