@import "../utils/variables";

/*Footer-form*/
.footer-form {
  @extend %centeredFlex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
  }

  &__text {
    margin: 0;
  }
}
.user-data {
  width: 100%;
  @extend %centeredFlex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: $additional-color;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}

.user-data__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  color: $additional-color;
  background-color: $additional-background-color;
  transition: border-color 250ms var(--timing-function);
  outline: none;
  
  // @media screen and (max-width: 481px) {
  //   width: 450px;
  //   width: 100%;
  // }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  &:focus {
    border-color: $main-button-hover;
  }
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: $button-hover-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $additional-color-button;
  fill: $additional-color-button;
  gap: 10px;
  @extend %centeredFlex;

  &:hover {
    background-color: $main-button-hover;
  }
}
