@import '../utils/variables';

/*Footer-form*/
.footer-form {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__text {
    margin: 0;
  }
}
.footer__footer-form {
  gap: 12px;
}
.user-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $additional-color;
  }
}
.footer-form__user-data {
  gap: 20px;
}

.user-data__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: $additional-color;
  background-color: $additional-background-color;
  transition: border-color 250ms var(--timing-function);
  outline: none;

  &:focus {
    border-color: $main-button-hover;
  }
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: $button-hover-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $additional-color-button;
  fill: $additional-color-button;
  gap: 10px;
  @extend %centeredFlex;

  &:hover {
    background-color: $main-button-hover;
  }
}
