@import "../utils/variables";

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--time-function),
    visibility 250ms var(--time-function);
  // overflow: scroll;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  @extend %centeredFlex;
  height: 100%;

  &__form-field {
    margin-bottom: 10px;
  }

  &__close {
    position: absolute;
    @extend %centeredFlex;
    top: 8px;
    right: 8px;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: $color-text-primary;

  @media screen and (min-width: 480px) {
    line-height: 1.5;
  }
}
.modal__container {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $additional-color;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }
}
.btn-icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  background-color: $additional-color-button;
  transition: fill 250ms var(--timing-function);

  &:hover {
    fill: $button-hover-background;
  }
}
/*Form*/
.form-field {
  width: 100%;
  height: 100%;

  &__label {
    display: block;
    margin-bottom: 4px;
    color: $color-text-secondary;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }

  &__control {
    position: relative;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
}
.form-field__conditions-chackbox {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 480px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 12px 0 42px;
  transition: border-color 250ms var(--timing-function);
  outline: none;

  &:focus {
    border-color: $button-hover-background;
  }
  &:focus + .form-field__icon {
    fill: $hover-text-color;
  }
}
textarea {
  resize: none;
}
.form-field__textarea {
  width: 100%;
  // max-width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--timing-function);
  outline: none;
  display: block;

  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:focus {
    border-color: $button-hover-background;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}
/*checkbox*/
.conditions-chackbox {
  display: flex;
  color: $color-text-secondary;

  &__icon {
    position: absolute;
    fill: transparent;
    margin: 0 7px 0 10px;

    border-radius: 2px;
    border: 2px solid $main-color-button;
  }
  &__label {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__link {
    color: $button-hover-background;
  }
}
.conditions-chackbox__input {
  appearance: none;

  &:checked + .conditions-chackbox__icon {
    fill: $additional-color-button;
    background-color: $button-hover-background;
    border: none;
  }
}
.form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $additional-color-button;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  &:hover {
    background-color: $main-button-hover;
  }
}
