/*5 section*/
.client {
  padding: 94px 0 94px;
}
.client__title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.icons-list {
  display: flex;
  justify-content: center;
  align-items: baseline;

  &__item {
    display: flex;
  }
}
.container-icons__icons-list {
  gap: 30px;
}
.icons-list__link {
  padding: 16px 32px;
  border: 1px solid $contact-links;
  border-radius: 4px;
  fill: $contact-links;
  width: 170px;
  height: 92px;
  display: block;
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: $button-hover-background;
    fill: $button-hover-background;
  }
}
