@import "../utils/variables";

.visually-hidden {
  @import "../utils/visually-hidden";
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.btn {
  background-color: $button-hover-background;
  color: $additional-color;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: 0;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: $hover-text-color;
  letter-spacing: 0.03em;

  &__logo-part {
    color: $logo-color;
  }
}
