@import "../utils/variables";

/*Main 1 section*/
.effective {
  // height: 600px;
  max-width: 1600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  // max-height: 400px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-image-mobile\.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-image-desktop.jpg");
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-image-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/background-image-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-image-desktop.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/background-image-desktop@2x.jpg");
    }
  }
}
.effective__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
  // gap: 30px;
  
}
.effective__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  color: $additional-color;

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: $additional-color-button;
  background-color: $button-hover-background;

  transition: background-color 250ms var(--timing-function);
}
.btn:hover,
.btn:focus {
  background-color: $main-button-hover;
}
.effective__btn {
  margin-bottom: 0px;
}
