/*Main 1 section*/
.effective {
    height: 600px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 200px 0;
  
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
  }
  .effective__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  .effective__title {
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--additional-color);
  }
  .btn {
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--additional-color-button);
    background-color: var(--button-hover-background);
  
    transition: background-color 250ms var(--timing-function);
  }
  .btn:hover,
  .btn:focus {
    background-color: var(--main-button-hover);
  }
  .effective__btn {
    margin-bottom: 0px;
  }
  