@import '../utils/variables';

/*3 section*/
.examples {
  padding: 0 0 94px;
}
.examples-container {
  @extend %centeredFlex;
  flex-direction: column;

  &__title {
    width: 367px;
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__list {
    @extend %centeredFlex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: $third-section-overlay;
  }

  &__overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $additional-color;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
