.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: rgb(201, 219, 219);
  transform: translateX(100%);
  transition: transform 500ms;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.is-open {
    display: block;
    opacity: 0.5;
    transform: translateX(0);
  }
}
