@import "../utils/variables";

/*4 section*/
.team {
  background-color: $fourth-section-background;
  padding: 60px 0;
  @media screen and (min-width:1200px) {
    padding: 94px 0;
  }
}
.team-container {
  @extend %centeredFlex;
  flex-direction: column;

  &__list {
    @extend %centeredFlex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.team-container__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.person-card {
  background-color: $header-background-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: calc((100% - 0 * 30px) / 1);
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}
.details {
  padding: 30px;

  &__subtitle {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__text {
    margin: 0 0 16px;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-text-secondary;
  }
  &__social-list {
    gap: 10px;
  }
}
.social-list {
  @extend %centeredFlex;

  &__item {
    display: inline-block;
    width: 44px;
    height: 44px;
  }
  &__social-link:hover,
  &__social-link:focus {
    background-color: $button-hover-background;
    fill: $additional-color-button;
  }
}
.social-link {
  @extend %centeredFlex;
  width: 100%;
  height: 100%;
  background-color: $additional-color-button;
  fill: $contact-links;
  border-radius: 50%;

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
