/*4 section*/
.team {
  background-color: var(--fourth-section-background);
  padding: 94px 0 94px;
}
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.person-card {
  width: 270px;
  height: 430px;
  background-color: var(--header-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.details {
  padding: 30px;

  &__subtitle {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__text {
    margin: 0 0 16px;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-secondary);
  }
  &__social-list {
    gap: 10px;
  }
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: inline-block;
    width: 44px;
    height: 44px;
  }
  &__social-link:hover,
  &__social-link:focus {
    background-color: var(--button-hover-background);
    fill: var(--additional-color-button);
  }
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--additional-color-button);
  fill: var(--contact-links);
  border-radius: 50%;

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
