/*Body*/

body {
    font-family: "Roboto", sans-serif;
    color: $color-text-primary;
    background-color: $header-background-color;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .link {
    text-decoration: none;
  }