@import '../utils/variables';
:root {
  /* Background */
  --header-background-color: #ffffff;
  --additional-background-color: #2f303a;
  --fourth-section-background: #f5f4fa;
  --third-section-overlay:rgba(47, 48, 58, 0.8);
  /*Button*/
  --button-background: #f5f4fa;
  --button-hover-background: #2196f3;
  --main-button-hover: #188CE8;
  --main-color-button: #212121;
  --additional-color-button: #ffffff;
  --contact-links: #afb1b8;
  /*Text color*/
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --logo-color: #000000;
  --hover-text-color: #2196f3;
  --additional-color: #ffffff;
  /*Time*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Body*/
body {
    font-family: "Roboto", sans-serif;
    color: $color-text-primary;
    background-color: $header-background-color;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .link {
    text-decoration: none;
  }