@import '../utils/variables';

/*Portfolio*/
.main {
  background-color: $header-background-color;
}
.portfolio-section {
  padding: 94px 0;
}
.list-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    background-color: $button-background;
    color: $main-color-button;
    border: none;
    transition: color 250ms var(--timing-function),
      background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
  }
  &__btn-portfolio:hover,
  &__btn-portfolio:focus {
    background-color: $button-hover-background;
    color: $additional-color-button;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.container__list-btn {
  gap: 8px;
  margin: 0 0 50px;
}

.list-photo {
  @extend %centeredFlex;
  flex-wrap: wrap;
}
.container__list-photo {
  gap: 30px;
}
.card {
  &__unreal-link {
    position: relative;
    overflow: hidden;
  }
  &:hover .description-overlay {
    transform: translateY(0);
  }

  &__details-portfolio {
    padding: 20px 24px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
  }
  &__subtitle {
    margin: 0 0 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: $color-text-primary;
  }
  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;
    color: $color-text-secondary;
  }
}
.card__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: $additional-color;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  &__text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $additional-color;
  }
}
