/*Variable declaration*/
:root {
    /* Background */
    --header-background-color: #ffffff;
    --additional-background-color: #2f303a;
    --fourth-section-background: #f5f4fa;
    --third-section-overlay:rgba(47, 48, 58, 0.8);
    /*Button*/
    --button-background: #f5f4fa;
    --button-hover-background: #2196f3;
    --main-button-hover: #188CE8;
    --main-color-button: #212121;
    --additional-color-button: #ffffff;
    --contact-links: #afb1b8;
    /*Text color*/
    --color-text-primary: #212121;
    --color-text-secondary: #757575;
    --logo-color: #000000;
    --hover-text-color: #2196f3;
    --additional-color: #ffffff;
    /*Time*/
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Background */
  $header-background-color: #ffffff;
  $additional-background-color: #2f303a;
  $fourth-section-background: #f5f4fa;
  $third-section-overlay:rgba(47, 48, 58, 0.8);
  /*Button*/
  $button-background: #f5f4fa;
  $button-hover-background: #2196f3;
  $main-button-hover: #188CE8;
  $main-color-button: #212121;
  $additional-color-button: #ffffff;
  $contact-links: #afb1b8;
  /*Text color*/
  $color-text-primary: #212121;
  $color-text-secondary: #757575;
  $logo-color: #000000;
  $hover-text-color: #2196f3;
  $additional-color: #ffffff;
  /*Cubic-Bezier*/
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);